:root{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 138%;
letter-spacing: -0.02em;
color: #121417;
}
p {
    font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
color: rgba(18, 20, 23, 0.7);
}
h2 {
    font-weight: 500;
font-size: 28px;
line-height: 114%;
letter-spacing: -0.02em;
color: #121417;
}
a {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 125%;
color: #121417;
}